.home-page {
  font-family: Gill, sans-serif;
  color: white;
  font-size: 30px;
  height: 100vh;
}

.title-board {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(247, 90, 146);
  font-weight: 700;
}

.map {
  grid-column: 1/ span 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title-indicator {
  grid-column: 2/ span 1;
  text-align: center;
  margin: 0 0 0 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.key-indicators {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(../../assets/images/map.png);
  background-position: 15% 40%;
  background-size: 40% 60%;
  background-repeat: no-repeat;
  color: white;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.confirmed-case {
  grid-row: 1 / 1 span;
  grid-column: 1 / 1 span;
  background-color: rgb(220, 79, 130);
}

.deaths {
  grid-row: 1 / 1 span;
  grid-column: 2 / 1 span;
  background-color: rgb(208, 74, 121);
}

.recovery {
  grid-row: 2 / 1 span;
  grid-column: 1 / 1 span;
  background-color: rgb(208, 74, 121);
}

.open-cases {
  grid-row: 2 / 1 span;
  grid-column: 2 / 2 span;
  background-color: rgb(220, 79, 130);
}
