.confirmed-cases-page {
  font-family: Gill, sans-serif;
  color: white;
  font-size: 30px;
  height: 100vh;
}

.title-board {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(247, 90, 146);
  font-weight: 700;
}

.map {
  grid-column: 1/ span 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title-indicator {
  grid-column: 2/ span 1;
  text-align: center;
  margin: 0 0 0 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

.indicator-breakdown {
  display: grid;
  grid-template-rows: 50% 50% 50% 50%;
}

.confirmed-case-item {
  display: flex;
  align-items: center;
}

.total-cases {
  grid-row: 1 / 1 span;
  background-color: rgb(220, 79, 130);
}

.yesterday-total-cases {
  grid-row: 2 / 1 span;
  background-color: rgb(208, 74, 121);
}

.today-vs-yesterday-confirmed {
  grid-row: 3 / 1 span;
  background-color: rgb(220, 79, 130);
}

.growing-cases {
  grid-row: 4 / 1 span;
  background-color: rgb(208, 74, 121);
}
